html,body,#wrapper {
	width: 100%;
	height: 100%;
	margin: 0px;
}

.chart {
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.bar {
	fill: #33b500;
}

.bar-failed {
	fill: #CC3300;
}
.bar:hover {
	fill:#cccccc;
}
.bar-failed:hover {
	fill:#cccccc;
}
/*.infoderecha {
	position:absolute;
 	top:0;
 	right:0;
	width:500px;
	height: 700px;
	background-color: #cccccc;
}*/

div.tooltip {
  /*position: absolute;	
  text-align: center;	
  width: 60px;	
  height: 28px;
  padding: 5px;	
  font-size: 12px;
  background: lightsteelblue;	
  border: 0px;					
  border-radius: 8px;*/
 /*  pointer-events: none;	This line needs to be removed */
}

