/*Copyright Era7 Information Technologies 2007-2013*/
* {
	padding: 0;
	margin: 0;
}
table {
	border-collapse: collapse;
}
img {
	border-style:none;
}
a:link {text-decoration:none; }
a:visited {text-decoration:none; }
a:active {text-decoration:none; }
a:hover {text-decoration:none; }
.body_global {
	margin:auto;
}
/*.login_container {
	width:300px;
	margin:auto;
}*/

@media (max-width: 767px) {
	body {
		/*To remove padding added by bootstrap when size changes*/
		padding-right: 0px;
		padding-left: 0px;
	}
}

.body_tree {
	max-width:1400px;
	font-family:Verdana, Arial;
	padding-left:2px;
	padding-right:2px;
}
/*.div_contenedor_contenido{}*/
/*.div_login_logo{
	padding-top:2px;
	padding-left:2px;
	clear:none;	
	float:left;
}
.div_login_help{
	float:right;
	clear:right;
}*/
.div_login_form{
	/*margin-left:5px;*/
	width:230px;margin:auto;float:none;
	margin-top:20px;
}

.div_inicio_logo{
	float:left; padding-top:20px; padding-left:10px; padding-bottom:5px;
}
.div_inicio_derecha{
	float:right; padding-top:5px; padding-right:3px;
}
.div_inicio_usuario{
	float:right;
}

.div_text_user_logged{
	text-align:right;
}

.div_head_title {
	clear:both;
	color:#0066CC;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	vertical-align:middle;
	font-weight:bold;

}
.div_head_title a{
	color:#0066CC;
}
.link_blue{
	font-size:11px;
}
.icon_title{
	float:left;
}
.head_title{
	padding-left:5px;
	float:left;
}
.div_head_title a:visited{

	color:#0066CC;
}
.div_head_subtitle{
	clear:both;
	font-size:14px;
	color:#333333;
	background-color:#CCCCCC;
	height:21px;
	padding-left:8px;
	padding-top:6px;
	border-bottom:solid 1px #333333;
	
}
.div_head_subtitle_area{
	clear:left;
	color:#333333;
	font-size:14px;
	height:35px;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:2px;
}
/*.div_head_subtitle_area_text{
	float:left;
	padding-left:4px;
	padding-right:10px;
	font-size:12px;
}*/
.div_head_menu{
	clear:both;
}
/*.div_text_area_menu{
	color:#333333;
	font-size:15px;
	float:left;
	clear:none;
}
.div_text_area_menu a{
	color:#333333;
}
.div_img_area_menu{
	float:left;
	padding-left:2px;
	padding-right:6px;
}*/
.a_area_area{
	font-size:15px;
}
.div_area{
	height:32px;
	background-color:#FFFFFF;
	margin-bottom:2px;
	padding-left:14px;
	clear:both;
}
.div_img_area_area{
	padding-right:6px;
	padding-top:6px;
	float:left;
}
.div_text_area{
	text-overflow: ellipsis;
	padding-top:6px;
}
.div_separator{
	height:1px; background-color:#CCCCCC; clear:both;
}

/*
/////////////////////////messages list\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.div_items{
	clear:both;
	background-color:#FFFFFF;
}
.text_item{
	font-size:11px; color:#000000; /*color:#333333;*/
}
.text_item a:visited{
 	color:#0066CC;
}
/*.text_message_data{
	font-size:11px; 
	color:#666666;
}*/
.div_tree_message_data{
	color:#666666;
}
/*.div_text_message_date{
	clear:left; float:left; padding-left:4px; font-size:13px; color:#666666;
}
.div_text_message_email{
	float:right; padding-right:4px; font-size:13px; color:#666666;
}
.div_message_menu{
	height:32px;
	clear:both;
	padding-left:2px;
	padding-top:2px;
	margin-bottom:2px;
}*/

.item_img{
	max-width:none;
}
.item_img_default{
	max-width:none;
	padding-bottom:2px;
	padding-top:2px;
}

/*
/////////////////////////files list\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.div_file{	
	height:62px;
	clear:both;
}
.img_file{	
	float:left;
	margin-left:7px;
	/*margin-top:4px;*/
	margin-right:6px;
}
.div_file_right{
	height:62px;
}
.div_text_file_name{
	float:left; clear:right; padding-top:8px; font-size:11px;
}
.div_text_file_email{
	float:left; clear:left; padding-left:40px; font-size:13px; color:#000000;
}
.div_text_file_date{
	float:left; clear:left; padding-left:40px; font-size:13px; color:#666666;
}
.div_text_file_size{
	float:right; clear:right; padding-right:4px; font-size:13px; color:#666666;
}

/*
/////////////////////////users list\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.div_users_header{
	/*height:20px;*/
	 clear:both;
}
.div_user{
	height:47px; clear:both;
}
.div_checkbox_user{
	width:40px; height:22px; float:left; clear:left; 
}
.div_checkbox_users_header{
	width:40px; float:left; clear:left; 
}
.checkbox_user{
	margin-top:16px;
	margin-left:11px;
	font-size:16px;
}
.checkbox_users_header{
	margin-top:6px;
	margin-left:11px;
	font-size:16px;
}
.div_user_right{
	height:27px;
	clear:none;
}
.div_text_user_name{
	float:left; clear:right; padding-top:7px; padding-bottom:4px;
}

.text_user_data{
	color:#666666; font-size:13px; 
}
.div_text_user_email{
	float:left; clear:left; color:#666666; font-size:13px; padding-left:40px;
}
.div_text_user_mobile{
	float:right; clear:none; color:#666666; font-size:13px; 
}

/*
/////////////////////////message page\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.div_message_page_title{
	clear:both; font-size:14px; color:#666666; padding-left:8px; padding-top:6px; padding-bottom:6px; font-weight:bold;
}
.div_message_page_message{
	background-color:#FFFFFF; padding-left:8px;	padding-top:4px; padding-bottom:8px;
}
.div_message_page_label{
	float:left; clear:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666666; line-height:16px; padding-top:2px; padding-bottom:2px; padding-right:5px;
}
.text_message_page{
	font-size:13px; color:#000000;
}
.div_message_page_date{
	clear:right; font-size:13px; color:#000000; padding-top:3px; padding-bottom:3px;
}
/*.div_message_page_file{
	clear:both; font-size:13px; color:#000000; padding-bottom:3px;
}
.div_message_page_file a {
	color:#0066CC;
}*/
.div_message_page_description{
	clear:both; font-size:13px; color:#000000; 
	padding:6px;
	border-style:solid; border-color:#CCCCCC; border-width:1px;
}
.div_message_page_description ul {
	list-style-position:inside;
}
.div_message_page_description ol {
	list-style-position:inside;
}
.div_message_page_description p {
	padding-top:8px;
	padding-bottom:8px;
}

/*
/////////////////////////user page\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.div_user_page_title{
	clear:both; font-size:14px; color:#666666; padding-left:8px; padding-top:6px; padding-bottom:6px; font-weight:bold;
}
.div_user_page_user{
	background-color:#FFFFFF;
	padding-left:8px;
	padding-top:4px;
	padding-bottom:8px;
}
.div_user_page_label{
	float:left; clear:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666666; line-height:16px; padding-top:3px; padding-bottom:3px; padding-right:5px;
}
.div_user_page_text{
	font-size:13px; color:#000000;
}
.div_user_page_address{
	clear:both; font-size:13px; color:#000000; padding-top:0px; padding-bottom:3px;
}

/*
/////////////////////////log page\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.div_log_page_title{
	clear:both; font-size:14px; color:#666666; padding-left:8px; padding-top:6px; padding-bottom:6px; font-weight:bold;
}
.div_log_page_log{
	background-color:#FFFFFF;
	padding-left:8px;
	padding-top:4px;
	padding-bottom:8px;
}
.div_log_page_label{
	float:left; clear:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666666; line-height:16px; padding-top:3px; padding-bottom:3px; padding-right:5px;
}
.div_log_page_text{
	font-size:13px; color:#000000;
}
.div_log_page_address{
	clear:both; font-size:13px; color:#000000; padding-top:0px; padding-bottom:3px;
}



/*
/////////////////////////file page\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.div_file_page_name{
	clear:both; font-size:13px; color:#666666; padding-left:8px; padding-top:6px; padding-bottom:6px; font-weight:bold;
}
.div_file_page_file{
	background-color:#FFFFFF;
	padding-left:8px;
	padding-top:4px;
	padding-bottom:8px;
}
.text_file_page{
	font-size:13px; color:#000000;
}
.div_file_page_label{
	float:left; clear:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666666; line-height:16px; padding-top:3px; padding-bottom:3px; padding-right:5px;
}
.div_file_page_user{
	clear:both; font-size:13px; color:#000000; padding-bottom:3px;
}
.div_file_page_size{
	float:right;
}
.div_file_page_description{
	clear:both; font-size:13px; color:#000000; padding-top:0px; padding-bottom:3px;
}
.div_elements_menu{
	padding-top:5px; padding-left:5px;
}
.div_elements_menu a{
	margin-bottom: 2px;
}

/*
/////////////////////////my files page\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.text_menus{
	font-size:12px;
	color:#FFFFFF;
}
.text_menus a:visited{
	color:#FFFFFF;
}
.div_text_menus{
	vertical-align:top; display:block; clear:none;
	line-height:12px;
}
.div_text_menus a{
	font-size:12px;
	color:#333;
	line-height:12px;
}
.div_text_menus a:visited{
	color:#333;
}
.span_text_menus{
	font-size:12px;
	color:#333;
	line-height:12px;
}
.div_icon_menus{
	height:30px; width:31px; float:left; vertical-align:middle; text-align:center;
}
.div_element_menu{
	width:105px; height:32px; vertical-align:top; display:block; float:left; clear:none;
	border-width:1px; border-style:solid; margin-right:1px;
	/*border-color:#FFFFFF;*/
	border-color:#CCCCCC;
}
.div_element_menu_subtitle{
	padding-bottom:10px;
	height:20px;
	float:left;
}
.div_text_result{
	font-size:12px;
	color:#000000;
	padding-top:55px;
	padding-bottom:65px;
	padding-left:20px;
}

.div_element_folder{
	clear:both;
	height:26px;
	vertical-align:middle;
}
.div_element_folder a{
 	line-height:25px;
}
.div_return{
	padding-top:5px;
	padding-left:3px;
}

/*
////////////////////////////////////////////newMessage\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.div_send_message{
	clear:both;
}
/*
////////////////////////////////////////////search\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
*/
.div_search_results_text{
	clear:both;
	font-size:12px;
	color:#000000;
}
.div_search_pages{
	padding-top:6px;
	padding-bottom:6px;
	font-size:12px;
	text-align:center;
	color:#000000;
}
.a_search_pages{
	color:#000000;
	font-size:12px;
	font-weight:bold;
}
.search_pages_current{
	font-size:12px;
	color:#D01E04;
	font-weight:bold;
}
.icon{
	float:left;
	width:40px;
	text-align:center;
}
.item{
	float:left;
	padding-top:10px;
	padding-left:5px;
}
.texto_normal{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}
.contenedor_fondo_blanco{
	background-color:#ffffff;
	padding:5px 10px 10px 10px;
	margin-top:5px;
	clear:both;
}
.div_search_label{
	font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666666; line-height:16px; padding-right:5px; float:left; width:110px; padding-top:2px; clear:left;
}
.table_incidences{
	width:100%;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
}
.table_incidences tr.incidence{
	height:22px;
	background-color:#FFFFFF;
}
.more_info_img {
	float:left; margin-right:3px; margin-top:12px; cursor:pointer;
}
.more_info_content {
	clear:both; background-color:#FFFFFF; padding:5px; display:none; margin-bottom:2px;
}
.input_datepicker{
	width:100px;
}

.hidden{
	display:none;
}
.highlight{
    font-weight:bold;
}
.navbar_brand {
	display:block; padding-top:10px; float:left;
}

#listTable td {
	font-size: 11px;
	color:#666666;
}
#dataTable td {
	font-size: 11px;
}
#dataTable tr {
	height: 28px;
}
.field_label {
	font-size: 12px;
}


/*BOOTSTRAP CSS CHANGES*/
.navbar {
	margin-bottom: 4px;
}
.navbar .nav > li > a {
	padding: 5px 8px;
}
.navbar-inner {
	padding-left:10px;
	padding-right:10px;
} 
.navbar-static-top {
	margin-left:0;
	margin-right:0;
}