/*vpnet*/
/*ESTO NO SE USA EN DP*/
.body_global 
{
	width:100%;
	-webkit-text-size-adjust:none;
}

.div_header_content
{
	height:47px;
	background-image:url(../assets/header_mobile.jpg);
	background-position:left top;
	background-repeat:no-repeat;
}