

        path {
    stroke-width: 3;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 2;
    shape-rendering: crispEdges;
}

.axis2 path,
.axis2 line
        {
             stroke: grey;
    stroke-width: 2;
    shape-rendering: crispEdges;
        }
.dot {
  stroke: #fff;
  fill: #FF4330;
  stroke-width: 1.5px;
  clip-path: url(#clip);
}


.legend {
    font-family: "Bitstream Vera Serif Bold";
    font-size: 13px;
    font-weight: bold;
    text-anchor: left;
}

.y-axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.brush .extent {
  stroke: black;
  fill-opacity: .3;
  shape-rendering: crispEdges;
}

.node {
   cursor: pointer;
 }

 .overlay{
     background-color:#EEE;
 }

 .overlayWhite{
     background-color:#fff;
 }

 .node circle {
   fill: #fff;
   stroke: steelblue;
   stroke-width: 1.5px;
 }

 .node text {
   font-size:12px;
   font-family:sans-serif;
 }

 .link {
   fill: none;
   stroke: #ccc;
   stroke-width: 1.5px;
 }
