*{
	margin:0;
	padding:0;
}
img{
	border:0;
}
body {
	background-color:#fafafa;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#4b4444;
}
.body_web{
	background-repeat:repeat-x;
	background-image:url(assets/bg1.jpg);
}
#centrado{
	width:1124px;
	margin:0 auto;
}
#contenedor{
	width:1124px;
	float:left;
}
#header{
	width:940px;
	height:177px;
	float:left;
	background-image:url(assets/bg_sup_extranet.jpg);
	background-repeat:no-repeat;
	padding-left:92px;
	padding-right:92px;
}

#logos{
	width:940px;
	height:81px;
	float:left;
}
#logo_junta{
	width:166px;
	padding-left:10px;
	height:46px;
	padding-top:20px;
	padding-right:20px;
	float:left;
}
#logo_asnc{
	width:413px;
	height:52px;
	float:left;
	padding-top:20px;
}
#contenedor_menu{
	width:920px;
	padding-left:10px;
	padding-right:10px;
	height:43px;
	float:left;
}
#menu_superior{
	width:920px;
	padding-top:9px;
	padding-bottom:9px;
	height:25px;
	float:left;
}
#contenedor_navegacion{
	width:920px;
	padding-left:10px;
	padding-right:10px;
	float:left;
	/*padding-top:30px;*/
}
#navegacion_left{
	width:920px;
	float:left;
	/*padding-top:25px;*/
	clear:both;
}
#navegacion_left a{
	color:#0574a2;
	text-decoration:none;
}
#navegacion_left a:hover{
	color:#8ba213;
}
#navegacion_left a.actual{
	color:#8ba213;
}
#navegacion_right{
	width:200px;
	float:right;
	text-align:right;
	font-size:11px;
	height:25px;
}
#wrapper{
	width:920px;
	float:left;
	padding-left:102px;
	padding-right:102px;
	background-image:url(assets/sombra.jpg);
	background-repeat:repeat-y;
	min-height:300px;
	padding-bottom:10px;
}
#contenedor_footer{
	width:940px;
	height:72px;
	float:left;
	padding-left:92px;
	padding-right:92px;
	background-image:url(assets/sombra_footer.jpg);
	background-position:bottom;
	background-repeat:no-repeat;
	clear:both;
}
#footer{
	width:920px;
	height:52px;
	float:left;
	border-top:solid 1px #ccc;
	padding-top:20px;
	margin-left:10px;
	margin-right:10px;
}
*html #footer{ /*Esto solo para IE*/
	margin-left:0px;
	margin-right:0px;
	padding-left:10px;
	padding-right:10px;
}
#footer_left{
	width:720px;
	float:left;
}
#footer_right{
	width:200px;
	float:right;
	text-align:right;
}
#footer_right a{
	color:#0574a2;
	text-decoration:none;
}
#footer_right a:hover{
	color:#8ba213;
}
#home_left{
	width:210px;
	float:left;
}
#home_center{
	width:454px;
	float:left;
	padding-left:23px;
	padding-right:23px;
	text-align:justify;
	line-height:18px;
}
#home_right{
	width:210px;
	float:right;
}
.box_border_sup{
	float:left;
	width:207px;
}
.box_border_bottom{
	width:207px;
	float:left;
	margin-bottom:15px;
}
.box_border_content{
	width:187px;
	background-image:url(assets/box_content.jpg);
	background-repeat:repeat-y;
	padding:10px;
	float:left;
}
#blogs{
	width:198px;
	padding-left:6px;
	padding-right:6px;
}
#apartados_left{
	width:210px;
	float:left;
}
#apartados_right{
	width:690px;
	float:left;
	padding-left:20px;
	text-align:justify;
	line-height:18px;
}
.separador{
	width:100%;
	height:2px;
	border-bottom:solid 1px #ccc;
	margin-bottom:8px;
	padding-top:8px;
}
.separador_items{
	width:100%;
	height:2px;
	border-bottom:solid 1px #ccc;
	margin-top:10px;
	margin-bottom:15px;
	clear:both;
}
ul.submenu{
	list-style-image:url(assets/bullet.jpg);
	list-style-position:outside;
	margin-left:20px;
}
ul.submenu li{
	line-height:22px;
}
ul.submenu li a{
	color:#0574a2;
	text-decoration:none;
}
ul.submenu li a:hover{
	color:#8ba213;
}
ul.submenu li.paginaActual>a{
	color:#8ba213;
}
ul.submenu li ul {
	margin-left:35px;

}
.text_date{
	font-style:italic;
	font-size:12px;
	font-weight:bold;
	color:#4B4444;
}
.title{
	font-size:18px;
	color:#0574a2;
	font-weight:normal;
}
.title_medium{
	font-size:16px;
	color:#0574a2;
}
.subtitle{
	font-size:14px;
	color:#8ba213;
	text-decoration:none;
}
.subtitle_azul{
	font-size:14px;
	color:#0574a2;
}
.subtitle_16px {
	font-size:16px;
	color:#0574a2;
	font-weight:bold;
	text-decoration:none;
}
.title_bold_14px{
	font-size:14px;
	color:#0574a2;
	font-weight:bold;
}
.title_bold_14px_sub{
	font-size:14px;
	color:#0574a2;
	font-weight:bold;
	border-bottom:solid 1px #ccc;
	padding-bottom:3px;
}
.link_16px{
	font-size:16px;
	color:#0574a2;
	font-weight:bold;
	text-decoration:none;
}
.link_16px:hover{
	color:#8ba213;
}
.link_bold_14px{
	font-size:14px;
	color:#0574a2;
	font-weight:bold;
	text-decoration:none;
}
.link_bold_14px:hover{
	color:#8ba213;
}
.link_bold_14px_verde{
	font-size:14px;
	color:#8ba213;
	font-weight:bold;
	text-decoration:none;
}
.link_bold_14px_verde:hover{
	color:#8ba213;
}
.link{
	color:#0574a2;
	text-decoration:none;
}
.link:hover{
	color:#8ba213;
}
.link_min{
	color:#0574a2;
	font-size:11px;
	text-decoration:none;
}
.link_min:hover{
	color:#8ba213;
}
.link_min_verde{
	color:#8ba213;
	font-size:11px;
	text-decoration:none;
}
.link_min_verde:hover{
	color:#0574a2;
}
.link_bold_14px:hover{
	color:#8ba213;
}
.lista_contenidos{
	list-style-image:url(assets/bullet.jpg);
	list-style-position:outside;
	margin-left:20px;
}
.lista_contenidos li{
	line-height:22px;
}
.lista_box{
	list-style-image:url(assets/bullet.jpg);
	list-style-position:outside;
	margin-left:20px;
}
.lista_box li{
	padding-bottom:5px;}

.item_description p{
	margin-top:5px;
	margin-bottom:5px;
}


/*///////INTRANET\\\\\\\*/
.body_intranet{
	background-image:url(assets/bg4.jpg);
	background-repeat:repeat-x;
}
#header_intranet{
	width:940px;
	height:179px;
	float:left;
	background-image:url(assets/bg_sup_intranet.jpg);
	background-repeat:no-repeat;
	padding-left:92px;
	padding-right:92px;
}
#home_left_intranet{
	width:202px;
	float:left;
}
#home_center_intranet{
	width:476px;
	float:left;
	text-align:justify;
	line-height:18px;
	padding-left:20px;
	padding-right:20px;
}
#home_right_intranet{
	width:202px;
	float:right;
}
.box_border_sup_intranet{
	float:left;
	width:158px;
	height:26px;
	background-image:url(assets/box_border_sup_intranet.jpg);
	background-repeat:no-repeat;
	padding-left:22px;
	padding-right:22px;
	padding-top:10px;
	color:#fff;
	font-size:14px;
}
.box_border_sup_intranet a{
	color:#fff;
	text-decoration:none;
}
.box_border_sup_intranet a:hover{
	text-decoration:underline;
}

.box_border_bottom_intranet{
	width:202px;
	float:left;
	margin-bottom:15px;
}
.box_border_content_intranet{
	width:158px;
	background-image:url(assets/box_content_intranet.jpg);
	background-repeat:repeat-y;
	float:left;
	padding-left:22px;
	padding-right:22px;
	font-size:11px;
}
.tabla_enlaces_home td{
	text-align:center;
	vertical-align:top;
}
.tabla_enlaces_home a{
	font-size:9px;
	color:#0574a2;
	text-decoration:none;
}
.tabla_enlaces_home a:hover{
	text-decoration:underline;
}
.div_documents{
	width:95%;
	border:solid 1px #ccc;
	padding:10px;
	margin-bottom:10px;
	float:left;
}

