/*Copyright Era7 Information Technologies 2007-2012*/
html {
	/*background-color:#FAFAFA;*/
	background-color:#EEEEEE;
}
.body_global {
	background-color:#EEEEEE;
	font-family:Verdana, Arial;
}
.body_tree {
	background-color:#EEEEEE;
}
.menu_bar{
	background-color:#8BA213; clear:both; vertical-align:middle; padding-bottom:4px; padding-top:4px; padding-left:5px; padding-right:5px; height:35px;
}
.menu_bar a img{
	margin-right:2px;
}
.link_user_logged {font-size:12px; color:#FFFFFF;}
.link_user_logout {font-size:12px; color:#000000;}
.link_bottom_small {font-size:12px; color:#333333;}
#mainContainer{
	clear:both; height:100%;display:none;margin-top:5px;
}
#treeWrapper{
	float:left; width:43%; height:100%; border-color:#666666; border-style:solid; border-width:1px; background-color:#FFFFFF;
}
#areaContainer{
	float:right; width:56%; height:100%; border-color:#666666; border-style:solid; border-width:1px;
}
.div_header{
	/*background-color:#FFFFFF;*/
	clear:both;
}
.div_header_content{
	height:60px;
	/*background-image:url(assets/header_screen.jpg);*/
	background-image:url(../app/vpnet_banner.png);
	background-position:left top;
	background-repeat:no-repeat;
}
.div_separador_header{
	background-color:#999999;
	height:1px;
}
.text_user_logged{
	color:#13925A;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:22px;
	text-align:right;
}
.button_web {
	padding:1px; background-color:#FFFFFF; border-color:#CCCCCC; border-style:solid; border-width:1px;
}
.link_web {
	font-size:12px; 
	color:#0574A2;
	font-weight:bold;
}
.text_item {
	font-weight:bold;
}
/*.text_file_name {
	font-weight:bold;
}*/
.div_head_menu {
	background-color:#C8C8C8;
}