@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
}

img {
	border:0;
}

a {
	text-decoration:none;
}


#centrado{
	width:960px;
	margin:auto;
}

body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	background-color:#9f9f9f;
}

#contenedor{
	width:960px;
	height:100%;
	/*border:solid 1px red;*/
	float:left;
	margin-top:5px;
}

#cabecera{
	width:960px;
	height:134px;
}

.contenedor_menu_horizontal{
	width:960px;
	background-image:url(assets/fondo_azul.png);
	background-repeat:repeat-x;
	float:left;

}

#menu_horizontal{
	width:860px;
	height:37px;
	padding:5px 0px 5px 0px;
	float:left;

}
#menu_horizontal ul{
	padding:0;
	margin:0;
	list-style-type:none;
	height:27px;

}
#menu_horizontal li{
	float:left;
	padding-right:20px;
	padding-left:20px;
	height:27px;
	padding-top:10px;
	border-right:dotted 1px #fff;


}

#menu_horizontal ul li.apartadoActual  a{
	text-decoration:underline;


}


.ingles{
	width:100px;
	height:32px;
	float:right;
	text-align:center;
	padding-top:15px;
}

.ingles a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#fff;
	font-weight:bold;
}

.ingles a:hover{
	text-decoration:underline;
}
/*.border_menu{
	border-right:dotted 1px #fff;
}*/
#menu_horizontal a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
}
#menu_horizontal a:hover{
	text-decoration:underline;

	/*color:#F01717;	*/
}


#div_logo{
	width:960px;
	height:87px;
	background-image:url(assets/fondo_header2.png);
	background-repeat:no-repeat;
}

#logo_doplanning{
	width:181px;
	height:70px;
	margin-top:13px;
	margin-right:5px;
	float:right;
}

#wrapper{
	width:960px;
	background-color:#d1d1d1;
	float:left;


	
}

#menu{
	width:189px;
	height:100%;
	float:left;
	padding-top:35px;
}

.titulo_apartado{
	width:179px;
	padding-left:10px;

}
.enlace_apartado{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:16px;
	color:#009999;
	text-decoration:none;
}
.enlace_apartado:hover{
	color:#CC0000;
}


#menuv{
	padding-left:10px;
	padding-top:10px;
	float:left;
	width:179px;

}

#menuv ul{
	list-style-type:none;

}

ul.primernivel li{
padding-top:20px;
}

#menu ul li.subapartadoActual a{
	color:#009999;

}

ul.segundonivel li{
	padding-left:20px;
}
	


.enlace_negro{
	font-size:11px;
	color:#333333;
	text-decoration:none;
}
.enlace_negro:hover{
	text-decoration:underline;
}
#contenido{
	width:771px;
	background-color:#FFF;
	height:100%;
	min-height:400px;
	margin-top:5px;
	float:right;}

#footer{
	width:960px;
	height:15px;
	background-image:url(assets/fondo_footer.png);
	background-repeat:repeat-x;
	float:left;
	color:#fff;
	font-size:10px;
	text-align:center;
}

.txt_footer{
	color:#fff;
	font-size:10px;
	text-align:center;
}
.txt_footer:hover{
	text-decoration:underline;
}

#cuadros{
	width:960px;
	height:51px;
	background-image:url(assets/fondo_wrapper.png);
	background-repeat:no-repeat;
	float:left;
}

.txt_login{
	width:73px;
	height:25px;
	border-right:dotted 1px #CCC;
	font-size:14px;
	color:#FFF;
	font-weight:bold;
	/*background:red;*/
	padding-top:10px;
	padding-left:5px;
	float:left;
}

.usuario{
	float:left;
	font-size:12px;
	color:#FFF;
	width:50px;
	height:25px;
	padding-top:10px;
	padding-left:25px;
}

.input_usuario{
	height:25px;
	width:120px;
	float:left;
	padding-top:8px;
}

.contrasena{
	float:left;
	font-size:12px;
	color:#FFF;
	width:70px;
	height:25px;
	padding-top:10px;
	padding-left:25px;
}

.input_contrasena{
	height:25px;
	width:130px;
	*width:140px;
	float:left;
	padding-top:8px;

}

.entrar{
	float:left;
	width:50px;
	height:24px;
	padding-top:11px;
	font-size:12px;
	color:#FFF;
}

.registrarse{
	float:right;
	width:90px;
	height:25px;
	padding-top:10px;
	font-size:12px;
	color:#fff;}



.banner_home {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 17px;
	font-style: normal;
	text-transform: uppercase;
	color: #006699;
	background-color: #F3F3F3;
	word-spacing: normal;
	text-align:center;
	width:771px;
}

.slogan {
	color: #003366;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	padding:10px 27px 10px 37px;
	width:707px;
}
.submenu{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	background-color:#d1d1d1;
	margin: 0px;
	padding: 7px;
	height: 7px;
	width:711px;
	float:right;
	text-align: right;
}

.enlace_azul{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	text-decoration:none;
	}
	

.enlace_azul:hover{
	color:#009999;
}

.enlace_menuv{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003366;
	text-decoration:none;


}


.enlace_menuv:hover{
	color:#009999;
}




.resaltar_rojo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #CC0000;
}

.contenedor_tablas_home{
	width:771px;
	float:left;
	padding-bottom:20px;
	background:#fff;
}

.div_home_iconos{
	width:445px;
	float:left;
	padding-top:10px;
	

}
.arbol{
	width:435px;
	border-top:solid 1px #009999;
	border-bottom:solid 1px #009999;
	float:left;
	padding-top:10px;
	padding-bottom:10px;
	margin:0 5px 0 5px;
}

.mis_documentos{
	width:435px;
	border-bottom:solid 1px #009999;
	float:left;
	padding-top:10px;
	padding-bottom:10px;
	margin:0 5px 0 5px;
}

.tabla_home {
	color: #003366;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.tabla_home_derecha {
	font-size: 17px;
	color: #003366;
	float:left;


}
.tabla_home_derecha a{
	font-size: 17px;
	color: #003366;
	float:left;
	text-decoration:none;

}
.tabla_home_derecha a:hover{
	text-decoration:underline;
}
.div_home_derecho{
	width:316px;
	background-color:#efefef;
	float:left;
	padding-left:10px;
	padding-top:5px;
}

.contenido_marco {
	margin-top: 7px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 7px;
	padding-top: 10px;
	padding-right: 7px;
	padding-bottom: 7px;
	padding-left: 10px;
	list-style-type: circle;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	list-style-position: inside;
}
.faqs {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #005F8C;
}

.formulario{
	padding-top:40px;
	width:771px;
	float:left;
}
.titulo_formulario{
	width:771px;
	font-size:12px;
	color:#003366;
	font-weight:bold;
	padding-bottom:10px;
	padding-left:140px;
}


.formulario table{
	margin:0 auto;
	color:#003366;
}

.texto_min_form{
	font-size:11px;
}
.boton_form{
	border:solid 1px #003366;
	background-color:#003366;
	color:#fff;
}
.sublista_contenidos{
	list-style-image:url(assets/bullet_01.jpg);
	padding-left:40px;
}
.sublista_contenidos_sin_margen{
	list-style-image:url(assets/bullet_01.jpg);
	padding-left:0px;
}
.lista_contenidos{
	list-style-image:url(assets/cuadraditos_01.jpg);
	padding-left:20px;
}
